{% extends "base.html" %}
{% load index_tags %}
{% block body %}
    <h1>Profile</h1>
    <a href="{% url 'index:changesettings' %}" class="button primary">User Settings</a>
    {% if user.is_superuser %}
        <!-- saml does not support 2fa-->
        <a class="button success" href="{% url 'two_factor:profile' %}">Account Security Settings</a>
    {% endif %}
    {% if user|has_group:"unverified" and not user.is_superuser %}
        <p><strong>
            You have an unverified account.<br/>
            Please contact the support staff or academic advisor to obtain the correct rights.
        </strong></p>
    {% endif %}


    <h4>Personal</h4>
    <table class="table striped">
        <tr>
            <td>Username:</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>First and last name:</td>
            <td>{{ meta.get_nice_name }}</td>
        </tr>
        <tr>
            <td>Initials</td>
            <td>{{ meta.Initials }}</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>{{ meta.get_nice_fullname }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    <h4>User settings</h4>
    <table class="table striped">
        <tr>
            <td>Suppress action required mails:</td>
            <td><span class="mif-{{ SuppressStatusMails|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
        </tr>
    </table>

    {% if not student %}
        <h4>Permissions</h4>
        <table class="table striped">
            <tr>
                <td>User can be responsible for a project:</td>
                <td><span class="mif-{{ supervisor|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
            </tr>
            <tr>
                <td>User can be assistant:</td>
                <td>
                    <span class="mif-{{ assistant|yesno:"checkmark fg-green,cross fg-red" }}"></span>
                </td>
            </tr>
            <tr>
                <td>User is study advisor:</td>
                <td><span class="mif-{{ studyadvisor|yesno:"checkmark fg-green,cross fg-red" }}"></span></td>
            </tr>
            {% if user.is_superuser %}
                <tr>
                    <td>User is God:</td>
                    <td><span class="mif-checkmark fg-green"></span></td>
                </tr>
            {% endif %}
            {% if user.administratoredgroups.exists %}
                <tr>
                    <td>User is administrator of groups:</td>
                    <td>
                        <ul>
                            {% for group in user.administratoredgroups.all %}
                                <li>
                                    {{ group.Group.ShortName }}
                                    ({% if group.Super %}Read and write access{% else %}Read only access{% endif %})
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
        </table>

    {% else %}

        {#        <h4>Student Information</h4>#}
        {#        <table class="table striped">#}
        {#            <tr>#}
        {#                <td>Department</td>#}
        {#                <td>{{ meta.Department }}</td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#                <td>Study</td>#}
        {#                <td>{{ meta.Study }}</td>#}
        {#            </tr>#}
        {#            <!--<tr>#}
        {#                <td>Cohort</td>#}
        {#                <td>{{ meta.Cohort }}</td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#                <td>Studentnumber</td>#}
        {#                <td>{{ meta.Studentnumber }}</td>#}
        {#            </tr>-->#}
        {#        </table>#}
    {% endif %}
{% endblock %}
