beautifulsoup4
bleach
channels
daphne
django
django-csp
django-htmlmin
django-impersonate
django-ipware
django-redis
channels_redis
django-render-block
django-sendfile
django-two-factor-auth
docutils
lxml
markdown
openpyxl
pillow
pip
psycopg2-binary
pytz
requests
service_identity
Sphinx
xhtml2pdf>=0.2b1
django-js-error-hook
pyyaml
oauthlib