{% extends 'base.html' %}
{% load static %}
{% load index_tags %}

{% block body %}
    <a href="{% url 'studyguide:masterprogramlist' %}" class="button primary">Path List</a>
    <h1>{{ program.Name }} in {{ program.Year }}</h1>
    <table class="table">
        <tr>
            <td>Group:</td>
            <td>
                {% if program.Group.count == 1 %}
                    <a href="{% url 'studyguide:detailcapacitygroup' program.Group.all.0.pk %}">{{ program.Group.all.0 }}</a>
                {% else %}
                    <ul>
                        {% for group in program.Group.all %}
                            <li>
                                <a href="{% url 'studyguide:detailcapacitygroup' group.pk %}">{{ group }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Courses:</td>
            <td>
                <ul>
                    {% for course in program.MainCourses.all %}
                        <li>
                            {% if course.Info %}
                                    <a href="{{ course.Info.detaillink }}"> {# Course.Info is a function to CourseBrowser to get Osirislink #}
                                        {{ course.Code }} - {{ course.Info.name }}
                                    </a>
                                {% else %}
                                    {{ course.Code }}
                                {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>External Link:</td>
            <td>
                {% if program.DetailLink %}
                    <a href="{{ program.DetailLink }}" class="button info rounded">Info</a>
                {% else %}
                    Not available
                {% endif %}
            </td>
        </tr>
    </table>


    {% if program.images.all|length > 0 %}
        <div id="imageCarousel" class="carousel" data-role="carousel" data-height="300"
             data-controls="true" data-markers="false" data-auto="false">
            {% for image in program.images.all %}
                <div class="slide">
                    <a href="{% url "download:masterprogramimage" image.pk %}" data-lightbox="lightbox1"
                       data-title="{{ image.Caption }}">
                        <img data-role="fitImage" data-format="fill"
                             src="{% url "download:masterprogramimage" image.pk %}"
                             alt="{{ image.Caption }}"
                             referrerpolicy="no-referrer-when-downgrade"
                        />
                    </a>
                    <div class="imageCaption">
                        <h5>{{ image.Caption }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="imageCarousel_thumbs" class="padding10 bg-grayLighter align-center">
            {% for image in program.images.all %}
                <div class="thumb" data-index="{{ forloop.counter }}"><img
                        src="{% url "download:masterprogramimage" image.pk %}"
                        data-role="fitImage"
                        data-format="fill"
                        alt="{{ image.Caption }}"
                        referrerpolicy="no-referrer-when-downgrade">
                </div>
            {% endfor %}
        </div>

    {% endif %}


    <p>
        {{ program.Info|show_markdown_restricted }}
    </p>

    {% if user|has_group:"studyadvisors" %}
        <a href="{% url 'studyguide:editmasterprogram' program.id %}" class="button primary rounded">Edit</a>
        <a href="{% url 'studyguide:deletemasterprogram' program.id %}" class="button danger rounded">Delete</a>
        <a href="{% url 'studyguide:editmasterprogramimages'  program.pk %}" class="button primary rounded">Edit Images</a>
        <a href="{% url 'studyguide:addmasterprogramimage'  program.pk %}" class="button primary rounded">Add Image</a>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link href="{% static "css/lightbox.css" %}" rel="stylesheet">
    <style>
        .thumb {
            background: white;
            padding: 4px;
            display: inline-block;
            height: 2.375rem;
            width: 2.375rem;
            border: 1px transparent solid;
            cursor: pointer;
        }

        #imageCarousel, #imageCarousel_thumbs {
            max-width: 600px;
        }

        .imageCaption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(58, 58, 58, .8);
            color: white;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block scripts %}

    {{ block.super }}
    <script src="{% static "js/lightbox.js" %}"></script>
    <script>
        $(document).ready(function () {
            {% if program.images.all|length > 1 %}
                var icar = $('#imageCarousel').data('carousel');
                var thumbs = $('#imageCarousel_thumbs > .thumb');
                $.each(thumbs, function () {
                    var thumb = $(this), index = thumb.data('index') - 1;
                    thumb.on('click', function () {
                        icar.slideTo(index);
                    });
                });
            {% endif %}

        });
    </script>


{% endblock %}
